html{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    border: 3px solid #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
    background-color: #ededed;
}
p{
    color: black;
}
#cabecera{
    width: 50%;
    height: auto;
    margin: 0 auto;
    color: rgb(105, 36, 73);
    background-color: rgb(255, 218, 238);
    font-size: 20px;
}
body{
    position: relative;
}
.logo{
    background-image: url(./img/dragon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50px;
    height: auto;
}